@import "tailwindcss";

.clip-diagonal-left {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
/* Hide scrollbars in all browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
.clip-right-shape {
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}
